body {
    margin: 0;
    overflow: hidden; /* Empêche le défilement */
    // font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
    Font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 22px;
}
img.background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.container-forecast {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    font-size: 16px;
}
.image {
    width: 75px; /* Ajustez la taille de l'image si nécessaire */
    height: auto; /* Conserve le ratio de l'image */
    margin-right: 5px; /* Espace entre l'image et le texte */
}
.image-small {
    width: 50px; /* Ajustez la taille de l'image si nécessaire */
    height: auto; /* Conserve le ratio de l'image */
}
.top-left {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    z-index: 1;
}
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 0;
}
.bottom-center {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 1;
    font-size: 48px;
    text-align: center;
    line-height : 0.7;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    font-size: 24px;
}

.component-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
    margin-bottom: 5pt;
}
.weather-row {
    display: flex;
    align-items: center;
}
.weather-item {
    display: flex;
}
.weather-item-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5pt;
}
.temperature {
    font-size: 14px;
    margin-left: 0px;
}
.day {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
.weather-data {
    font-size: 36px;
}
.forecast-data {
    font-size: 16px;
}

.forecast-data-icon {
    font-size: 24px;
}

.events {
    font-size: 16px;
}
